.contactHeader{
    /* border: 2px solid black; */
    height: 200px;
    display: flex;
    gap: 10%;
    padding:10px;
}

.contactHeaderSec{
   /* border: 2px solid black; */
   height: 50px;
   gap: 50px;
   display: flex;
   flex-direction: column;
}

.contactPic{
    width: 400px;
    height: 50px;
    flex-shrink: 0;
    border: 2px solid black;
}

.contactH1{
    padding-right: 50px;
    flex-shrink: 0;
    /* border: 2px solid black; */
}

.describe{
    width: 500px;
    padding-right: 55px;
    /* border: 2px solid black; */
}

.clickProject{
    border: 2px solid black;   
    height: 100px;
    padding: 10px;
    display: flex;
   gap: 10%;
   margin-top: 50px;
}

.projectTypeH1{
    /* border: 2px solid black; */
    width: 400px;
    height: 50px;
    flex-shrink: 0;
}

.projects{
    border: 2px solid black;   
    height: 300px;
    padding: 10px;
    display: flex;
   gap: 10%;
}

.selectProjects{
    width: 600px;
    height: 280px;
    border: 2px solid black;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    padding: 10px;
}

.selectProjects > p{
    height: 60px;
    flex-shrink:0;
    width: 170px;
    text-align: center;
    font-size: 12px;
    border: 0.5px solid black;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.selectProjects > p:hover{
    background-color: #dfdddd;
    transition: 0.4s ease-in-out;
}

.personInfo{
    border: 2px solid black;   
    height: 600px;
    padding: 10px;
    display: flex;
    gap: 10%;
    margin-top: 50px;
}

.personsDetails{
    width: 650px;
    height: 550px;
    border: 2px solid blue;
    gap: 20px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.personName{
    border-bottom: 1px solid #aaaa;
    width: 300px;
    height: 100px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.personEmail{
    border-bottom: 1px solid #aaaa;
    width: 300px;
    height: 100px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.personPhoneNo{
    border-bottom: 1px solid #aaaa;
    width: 300px;
    height: 100px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.tellmeabout{
    border-bottom: 1px solid #aaaa;
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#yourName{
    outline: none;
}

#yourEmail{
    outline: none;
}

#phoneNumber{
    outline: none;
}

#tellMeAbout{
    outline: none;
}

.sendButton{
    height: 50px;
    width: 200px;
    border-radius: 30px;
    box-shadow: 1px 1px 5px #8d8c8caa;
    text-align: center;
    color: black;
   
}


 .sendButton:hover{
    box-shadow: -2px 5px 10px #aaaa;
    background-color: white;
    color: black;
    border: 0px solid  black;
    margin-top: 2px;
 }

 #tags{
    width: 100%;
    outline: none;
    display: none;
 }