*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html{
    overflow-x: hidden;
}


.strecher{
    height: 100px;
    /* border: 1px solid black; */
    width: 30px;
}

.mainLoader{
width: 100%;
height: 50000px;
position: fixed;
z-index: 100;
background-color: white;
}

.generaldavesLogo{
    height: 50px;
    position: relative;
    top: -50px;
    left: 50px;
}


.loadScale{
   height: 100%;
   width: 100%;
    animation: loadIn 7s ;
    transform-origin: left;
    background-color: black;
}

.loadbox{
    top: 400px;
    position: fixed;
    border: 2px solid black;
    width: 95%;
    height: 100px;
    left: 10px;
    border-radius: 4px;
}

.number{
    position: absolute;
    right: 10px;
    top: 20px;
    color: gray;
}

@keyframes loadIn  {

    from{
        transform: scaleX(0);
    }
    to{
       transform: scaleX(100%);
    }
}

.nav{
    position: relative;
    width: 100%;
    height: 100vh;
    font-size: 50px;
    font-weight: 600;
    color: white;
    animation: scaleTransFinish 1s;
    display: flex;
    /* border: 2px solid black; */
    justify-content: center;
    align-items: center;
    z-index: 100;
   
}

.navUL{
    margin-bottom: 70px;
    text-align: center;
    list-style: none;
    cursor: none;
    position: fixed;
   
}

li{
    cursor: none;
    font-family: 'Exo', sans-serif;
    font-size: 70px;
}


.scaleOpener{
    height: 100vh;
    width: 100%;
    background-color: black;
    flex-shrink: 0;
    position: fixed;
    z-index: 1;
    animation: ScaleTrans 1s ;
    transform-origin:top right;
    right: 0;
    top: 0;

}

.scaleCloser{
    flex-shrink: 0;
    position: absolute;
    z-index: -1;
    animation: ScaleTrans2 100ms ease-in-out ;
    transform-origin:top right;
    right: 0;
    top: 0;
    background-color: black;
}

@keyframes ScaleTrans {
    from{ 
        transform: scale(0);
        border-bottom-left-radius: 500px;
        border-bottom-right-radius: 500px;
    }
    to{
        transform: scale(500%);
        border-bottom-left-radius: 500px;
        border-bottom-right-radius: 500px;
    }

}


@keyframes ScaleTrans2 {
    from{ 
        height: 100vh;
        width: 100%;
        transform: scale(500%);
        border-bottom-left-radius: 500px;
        border-bottom-right-radius: 500px;
    }
    to{
        height: 100vh;
        width: 100%;
        transform: scale(0);
        border-bottom-left-radius: 500px;
        border-bottom-right-radius: 500px;
       
    }
}


.hamburger2{
    height: 50px;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    color: black;
    font-size: 30px;
    z-index: 10;
    color: black;
    flex-direction: column;
    gap: 5px;
}

.hamburger{
    height: 50px;
    width: 100%;
    /* border: 2px solid white; */
    display: flex;
    justify-content:flex-end;
    color: black;
    font-size: 30px;
    z-index: 1100;
    flex-shrink: 0;
    color: white;
    flex-direction: column;
    align-items: flex-end;
}

.raiseAm{
    height: 3px;
    width: 40px;
    background-color: black;
    margin-right: 20px;
    margin-bottom: 7px;
    border-radius: 50px;
    animation: changer1 1s;
    
}

@keyframes changer1 {
    0%{
        transform: rotate(180deg);
    }
}

.closeAm{
    height: 3px;
    width: 40px;
    margin-right: 20px;
    background-color: white;
    margin-bottom: 7px;
    border-radius: 50px;
    transform: rotate(135deg);
    animation: changer2 1s;
    position: fixed;
    z-index: 1000;
}

.closeAm2{
    height: 3px;
    width: 40px;
    margin-right: 20px;
    background-color: white;
    margin-bottom: 7px;
    border-radius: 50px;
   
    transform: rotate(225deg);
    top: 40px;
    margin-bottom: 15px;
    animation: changer2 1s;
    position: fixed;
    z-index: 1000;
}

@keyframes changer2 {
    0%{
        transform: rotate(180deg);
    }
}

/* hi */

.firstSec{
    height: 100vh;
    width: 100%;
    /* border: 2px solid black; */
}

.nameSection{
    margin-top: 50px;
    font-family: 'Exo', sans-serif;
    font-size: 110px;
    margin-left: 5%;
    font-weight: 400;
    height: 150px;
    width: 50%;
    /* border: 1px solid black; */
}

.hi{
    animation: hi 3s infinite;
    opacity: 0;
}
.im{
    animation: im 3s infinite;
    opacity: 0;
}
.david{
    animation: david 3s infinite;
    opacity: 0;
    border-radius: 10%;
}

@keyframes hi {

    30%{
        opacity: 1;
    }

    60%{
        opacity: 0;
    }

    90%{
        opacity: 0;
    }
}

@keyframes im {

    30%{
        opacity: 0;
    }

    40%{
        opacity: 1;
    }

    90%{
        opacity: 0;
    }
}

@keyframes david {

    30%{
        opacity: 0;
    }

    60%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.youre{
    font-size: 30px;
    font-family: "Exo",sans-serif;
    width: 50%;
    padding: 20px;
    margin-left: 4%;
    margin-top: 50px;
}

.picSec{
    position: relative;
    height: 500px;
    width: 500px;
    /* border: 2px solid black; */
    left: 60%;
    margin-top: -350px;
    z-index: -100;
}

.firstPic{
    position: absolute;
    height: 100%;
    width: 100%;
    /* border: 2px solid black; */
    top: 0;

   animation: bg-trans 10s infinite;
 
   transform: translateX(1000px);
}

@keyframes bg-trans {

    25%{
        transform: translateX(1000px);
    }
    
    50%{
        transform: translateX(0);
        filter: blur(0.5px);
    }
}

.secondPic{
    height: 100%;
    width: 100%;
    /* border: 2px solid black; */
    position: absolute;
    top: 0;
    transform: translateX(0);
    animation: bg-trans2 10s infinite;
}

@keyframes bg-trans2 {
  
    65%{
        transform: translateX(1000px);
        filter: blur(0.5px)
    }

    100%{
        transform: translateX(0);
       
    }

}



html{
    scroll-timeline: --mov;
}


.mov1{
    position: absolute;
    height: 100px;
    width: 90px;
   animation: mov1 1s;
   animation-timeline: --mov;
}

.mov2{
    position: absolute;
    height: 100px;
    width: 90px;
    left: 89px;
   animation: mov2 1s;
   animation-timeline: --mov;
}

.mov3{
    position: absolute;
    height: 100px;
    width: 90px;
    left: 178px;
   animation: mov3 1s;
   animation-timeline: --mov;
}

.mov4{
    position: absolute;
    height: 100px;
    width: 90px;
    left: 267px;
   animation: mov4 1s;
   animation-timeline: --mov;
   background-color: black;
}

.mov5{
    position: absolute;
    height: 100px;
    width: 90px;
    left: 356px;
   animation: mov5 1s;
   animation-timeline: --mov;
   background-color: black;
}


.mov6{
    position: absolute;
    height: 100px;
    width: 90px;
    top: 99px;
   animation: mov6 1s;
   animation-timeline: --mov;
}

.mov7{
    position: absolute;
    height: 100px;
    width: 90px;
    left: 89px;
    top: 99px;
   animation: mov7 1s;
   animation-timeline: --mov;
}

.mov8{
    position: absolute;
    height: 100px;
    width: 90px;
    left: 178px;
    top: 99px;
   animation: mov8 1s;
   animation-timeline: --mov;
}

.mov9{
    position: absolute;
    height: 100px;
    width: 90px;
    left: 267px;
    top: 99px;
   animation: mov9 1s;
   animation-timeline: --mov;
   
}

.mov10{
    position: absolute;
    height: 100px;
    width: 90px;
    left: 356px;
    top: 99px;
   animation: mov10 1s;
   animation-timeline: --mov;
}

.mov11{
    position: absolute;
    height: 100px;
    width: 90px;
    top: 198px;
   animation: mov11 1s;
   animation-timeline: --mov;
}

.mov12{
    position: absolute;
    height: 100px;
    width: 90px;
    top: 198px;
    left: 89px;
   animation: mov12 1s;
   animation-timeline: --mov;
}

.mov13{
    position: absolute;
    height: 100px;
    width: 90px;
    top: 198px;
    left: 178px;
   animation: mov13 1s;
   animation-timeline: --mov;
}

.mov14{
    position: absolute;
    height: 100px;
    width: 90px;
    top: 198px;
    left: 267px;
   animation: mov14 1s;
   animation-timeline: --mov;
   background-color: black;
}

.mov15{
    position: absolute;
    height: 100px;
    width: 90px;
    top: 198px;
    left: 356px;
   animation: mov15 1s;
   animation-timeline: --mov;
   background-color: black;
}

.mov16{
    position: absolute;
    height: 100px;
    width: 90px;
    top: 297px;
   animation: mov16 1s;
   animation-timeline: --mov;
}

.mov17{
    position: absolute;
    height: 100px;
    width: 90px;
    left: 89px;
    top: 297px;
   animation: mov17 1s;
   animation-timeline: --mov;
}

.mov18{
    position: absolute;
    height: 100px;
    width: 90px;
    left: 178px;
    top: 297px;
   animation: mov18 1s;
   animation-timeline: --mov;
}

.mov19{
    position: absolute;
    height: 100px;
    width: 90px;
    left: 267px;
    top: 297px;
   animation: mov19 1s;
   animation-timeline: --mov;
   
}

.mov20{
    position: absolute;
    height: 100px;
    width: 90px;
    left: 356px;
    top: 297px;
    animation: mov20 1s;
    animation-timeline: --mov;
}

.mov21{
    position: absolute;
    height: 100px;
    width: 90px;
    top: 396px;
   animation: mov21 1s;
   animation-timeline: --mov;
}

.mov22{
    position: absolute;
    height: 100px;
    width: 90px;
    left: 89px;
    top: 396px;
   animation: mov22 1s;
   animation-timeline: --mov;
}

.mov23{
    position: absolute;
    height: 100px;
    width: 90px;
    left: 178px;
    top: 396px;
   animation: mov23 1s;
   animation-timeline: --mov;
}

.mov24{
    position: absolute;
    height: 100px;
    width: 90px;
    left: 267px;
    top: 396px;
   animation: mov24 1s;
   animation-timeline: --mov;
   background-color: black;
}

.mov25{
    position: absolute;
    height: 100px;
    width: 90px;
    left: 356px;
    top: 396px;
   animation: mov25 1s;
   animation-timeline: --mov;
   background-color: black;
}


@keyframes mov1 {

    
    from{
        transform: translate(0);
    }

    to{
        transform: translate(-2000px , -5000px);
    }
    
}

@keyframes mov2 {

    
    from{
        transform: translate(0);
    }

    to{
        transform: translate(2000px , -5000px);
    }
    
}

@keyframes mov3 {

    
    from{
        transform: translate(0);
    }

    to{
        transform: translate(4000px , -5000px);
    }
    
}

@keyframes mov4 {

    from{
        transform: translate(0);
    }

    to{
        transform: translate(6000px , -5000px);
    }
    
}

@keyframes mov5 {
    
    from{
        transform: translate(0);
    }

    to{
        transform: translate(8000px , -5000px);
    }
    
}




@keyframes mov6 {

    
    from{
        transform: translate(0);
    }

    to{
        transform: translate(-6000px , -4000px);
    }
    
}

@keyframes mov7 {

    
    from{
        transform: translate(0);
    }

    to{
        transform: translate(-4000px , -4000px);
    }
    
}

@keyframes mov8 {

    
    from{
        transform: translate(0);
    }

    to{
        transform: translate(-2000px , -4000px);
    }
    
}

@keyframes mov9 {

    from{
        transform: translate(0);
    }

    to{
        transform: translate(1000px , -4000px);
    }
    
}

@keyframes mov10 {
    
    from{
        transform: translate(0);
    }

    to{
        transform: translate(2000px , -4000px);
    }
    
}

@keyframes mov11 {

    
    from{
        transform: translate(0);
    }

    to{
        transform: translate(-2000px , -3000px);
    }
    
}

@keyframes mov12 {

    
    from{
        transform: translate(0);
    }

    to{
        transform: translate(2000px , -3000px);
    }
    
}

@keyframes mov13 {

    
    from{
        transform: translate(0);
    }

    to{
        transform: translate(4000px , -3000px);
    }
    
}

@keyframes mov14 {

    from{
        transform: translate(0);
    }

    to{
        transform: translate(6000px , -3000px);
    }
    
}

@keyframes mov15 {
    
    from{
        transform: translate(0);
    }

    to{
        transform: translate(8000px , -3000px);
    }
    
}




@keyframes mov16 {

    
    from{
        transform: translate(0);
    }

    to{
        transform: translate(-6000px , -2000px);
    }
    
}

@keyframes mov17 {

    
    from{
        transform: translate(0);
    }

    to{
        transform: translate(-4000px , -2000px);
    }
    
}

@keyframes mov18 {

    
    from{
        transform: translate(0);
    }

    to{
        transform: translate(-2000px , -2000px);
    }
    
}

@keyframes mov19 {

    from{
        transform: translate(0);
    }

    to{
        transform: translate(1000px , -2000px);
    }
    
}

@keyframes mov20 {
    
    from{
        transform: translate(0);
    }

    to{
        transform: translate(1000px , -2000px);
    }
    
}

@keyframes mov21 {
    
    from{
        transform: translate(0);
    }

    to{
        transform: translate(-3000px , -1000px);
    }
    
}

@keyframes mov22 {
    
    from{
        transform: translate(0);
    }

    to{
        transform: translate(-2000px , -1000px);
    }
    
}

@keyframes mov23 {
    
    from{
        transform: translate(0);
    }

    to{
        transform: translate(0px , -1000px);
    }
    
}

@keyframes mov24 {
    
    from{
        transform: translate(0);
    }

    to{
        transform: translate(1000px , -1000px);
    }
    
}

@keyframes mov25 {
    
    from{
        transform: translate(0);
    }

    to{
        transform: translate(2000px , -1000px);
    }
    
}

@media screen and (max-width:1250px) {
   
    .youre{
        font-size: 30px;
        font-family: "Exo",sans-serif;
        width: 50%;
        padding: 20px;
        margin-left: 4%;
        margin-top:150px;
    }

    .picSec{
       margin-top: -470px; 
    }

    html{
        overflow-x: hidden;
    }
    
    
}

@media screen and (max-width:1250px) {
   
    .youre{
        font-size: 30px;
        font-family: "Exo",sans-serif;
        width: 50%;
        padding: 20px;
        margin-left: 4%;
        margin-top:150px;
    }

    .picSec{
       margin-top: -470px; 
    }

    html{
        overflow-x: hidden;
    }
    
    
}

@media screen and (max-width:950px) {


    .nameSection{
        margin-top: 50px;
        font-family: 'Exo', sans-serif;
        font-size: 110px;
        margin-left: 0%;
        font-weight: 400;
        height: 150px;
        width: 100%;
        /* border: 1px solid black; */
        text-align: center;
    }
   
    .youre{
        font-size: 30px;
        font-family: "Exo",sans-serif;
        width: 100%;
        margin-top:100px;
        text-align: center;
        margin-left: 0;
    }

    .picSec{
      display: none;
    }
    
    html{
        overflow-x: hidden;
    }
    
}

@media screen and (max-width:950px) {
    .youre{
        font-size: 30px;
        font-family: "Exo",sans-serif;
        width: 100%;
        margin-top:160px;
        text-align: center;
        margin-left: 0;
    }

    html{
        overflow-x: hidden;
    }

}

@media screen and (max-width:500px) {
    .picSec{
        display: none;
    }

    html{
        overflow-x: hidden;
    }
    
}

@media screen and (max-width:480px) {
    .picSec{
        display: none;
    }

    html{
        overflow-x: hidden;
    }
    
}

@media screen and (max-width:280px) {
    
    .youre{
        margin-top: 320px;
    }

    html{
        overflow-x: hidden;
    }
    
}



@keyframes opener {

   0%{
       transform: scaleX(0);
   }

   100%{
       transform: scaleX(500%);
   }

   
}

.lighterBG{
    height: 100%;
    width: 52%;
    position: absolute;
   
}


.DarkerBG{
    height:100%;
    width: 52%;
    position: absolute;
    right: 0;
    
}



.customizeSec{
    position: relative;
    margin-top: 50px;
    height: 900px;
    width: 100%;
    /* border: 1px solid yellow; */
    z-index: 0;
    padding-top: 20px;
}

.customizeH1{
    text-align: center;
    font-size: 40px;
    font-family: "Exo", sans-serif;
    color: white;
    margin-top: 10px;
}

.themeH1{
    margin-top: 50px;
    font-size: 25px;
    font-family: "Exo", sans-serif;
    text-align: center;
    color: white;
}

.themeOptions{
    margin-top: 50px;
    height: 80px;
    width: 100%;
    /* border: 1px solid white; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding-top: 5px;
    color: white;
}

.themeDefault{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
}

.aThemePic{
    height: 100%;
    width: 100%;
}

.theme1{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
}

.theme2{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
}

.theme3{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
}


.fontH1{
    margin-top: 50px;
    font-size: 25px;
    font-family: "Exo", sans-serif;
    text-align: center;
    color: white;
}

.fontOptions{
    margin-top: 50px;
    height: 80px;
    width: 100%;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    justify-items: center;
    padding-top: 5px;
    color: white;
}

.fontDefault{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    text-align: center;
    font-size: 28px;
    font-family: "Exo",sans-serif;
}

.font1{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    text-align: center;
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
}

.font2{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    text-align: center;
    font-size: 28px;
    font-family: 'Roboto Slab', serif;
}

.font3{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    text-align: center;
    font-size: 28px;
    font-family: 'Playfair Display', serif;
}


.fontDefaultPf{
    font-family: "Exo",sans-serif;
    font-size: 12px;
    text-align: center;
    color: white;
    
}

.font1Pf{
    font-family: "Opens Sans",sans-serif;
    font-size: 12px;
    text-align: center;
    color: white;
}

.font2Pf{
    font-family: "Roboto Slabs",sans-serif;
    font-size: 12px;
    text-align: center;
    color: white;
}

.font3Pf{
    font-family: "Playfair Display",sans-serif;
    font-size: 12px;
    text-align: center;
    color: white;
}




.fontDefaultP{
    font-family: "Exo",sans-serif;
    font-size: 12px;
    text-align: center;
    color: white;
}

.font1P{
    font-family: "Exo",sans-serif;
    font-size: 12px;
    text-align: center;
    color: white;
}

.font2P{
    font-family: "Exo",sans-serif;
    font-size: 12px;
    text-align: center;
    color: white;
}

.font3P{
    font-family: "Exo",sans-serif;
    font-size: 12px;
    text-align: center;
    color: white;
}




.bgMusicH1{
    margin-top: 50px;
    font-size: 25px;
    font-family: "Exo", sans-serif;
    text-align: center;
    color: white;
}

.bgMusicOptions{
    margin-top: 50px;
    height: 80px;
    width: 100%;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    justify-items: center;
    padding-top: 5px;
}

.bgMusicStop{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bgMusic1{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid white;
}

.bgMusic2{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid white;
}

.bgMusic3{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid white;
}

.musicIcon{
    margin-top: 12px;
    margin-left: 10px;
    height: 50%;
    width: 50%;
}

.stopIcon{
    height: 50%;
    width: 50%;
    border-radius: 50%;
    background-color: red;
}

.aboutSec{
    background-color: black;
    position: relative;
    height: 700px;
    width: 100%;
}




.lighterBG2{
    background-color: white;
    height: 100%;
    width: 52%;
    position: absolute;
}

.DarkerBG2{
    background-color: white;
    height:100%;
    width: 52%;
    position: absolute;
    right: 0;   
}


 .aboutPicAndTxt{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
 }

 .aboutH1{
    margin-top: 50px;
 }



 .aboutImg{
    height: 250px;
    width: 200px;
    box-shadow: -5px 7px 10px #e7e5e5;
    border-radius: 5px;
 }

 .AboutFrame{
    background-color: white;
    width: 98%;
    height: 98%;
    border-radius: 5px;
    
 }

 .aboutTxt{
    text-align: center;
    width: 280px;
 }

 .viewMore{
    box-shadow: 1px 1px 10px #8d8c8caa;
    border-radius: 25px;
    padding: 15px;
    padding-left:40px ;
    padding-right: 40px;
    text-align: center;
    color: white;
    margin-top: -20px;
    font-size: 14px;
 }

 .viewMore:hover{
    box-shadow: -2px 5px 10px #666565aa;
    margin: -22px;
 }

 .worksSec{
    background-color: white;
    position: relative;
    height: 1850px;
    width: 100%;
    top: 50px;
    /* border: 5px solid blue; */
}



.lighterBg3{
    background-color: black;
    width: 100%;
    height: 100%;
    transform-origin:right;
    animation:opener3 auto  ;
    animation-timeline: --mov;
    transform: scaleX(0);
    position: absolute;
    left: 0;
    top: 0;
}

.DarkerBg3{
    background-color: black;
    width: 100%;
    height: 100%;
    transform-origin:left;
    animation:opener3 auto  ;
    animation-timeline: --mov;
    transform: scaleX(0);
    position: absolute;
    right: 0;
    top: 0;
}

@keyframes opener3 {

    0%{
        transform: scaleX(-435%);
    }
 
    100%{
        transform: scaleX(120%);
    }
   
 }

 .worksH1{
    color: white;
    /* border: 2px solid red; */
 }

 .allWorks{
    top:100px;
    position: absolute;
    height: 94%;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
   gap: 70px;

 }
 

 .work1, .work2, .work3{
    height: 400px;
    width: 100%;
    /* border: 2px solid white; */
    color: white;
    flex-shrink: 0;
 }

 
 

 .work1{
    /* border: 1px solid white; */
    margin-top: 10px;
    display: flex;
    flex-direction: column;
 }

 .work1FlexerA{
   /* border: 2px solid red; */
  height: 50%;
   width: 100%;
   display: flex;
   gap: 15%;
   justify-content: center;
 }


 .todoList{
    height: 97%;
    width: 98%;
    
 }

 body{
    overflow: hidden;
 }

 html{
    overflow-x: hidden;
 }

.todoListPic{
    height: 240px;
    /* border: 3px solid orange; */
    flex-shrink: 0;
    width: 460px;
    border-radius: 10px;
    
}

 .todoListPic:hover::before{
    position: absolute;
    content: url(https://res.cloudinary.com/dyrzp2wi6/image/upload/v1708297600/portfolio%20in%20react%20pseudo%20gifs/todo_list_vid_zhmone.gif);
   background-color: white;
   transform: scale(50%);
   z-index: 90;
   left: -335px;
   top: -220px;
   border-radius: 5px;
 }


 .todoTxt{
   /* border: 2px solid white; */
   flex-shrink: 0;
   width: 400px;
 }

 .work1FlexerB{
    /* border: 2px solid red; */
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15%;
    align-items: center;
 }

 .workSpacer{
    height: 30px;
    /* border: 2px solid blueviolet; */
    flex-shrink: 0;
    width: 460px;
 }

 .todoButtons{
    /* border: 2px solid white; */
    height: 100px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap:20px ;
    padding-top: 20px;
    width: 400px;
    flex-shrink: 0;
 }

 .viewSite{
    height: 50px;
    width: 120px;
    border-radius: 25px;
   border: 1px solid white;
   padding: 10px;
   padding-left: 12px;
   padding-right: 12px;
    text-align: center;
    color: white;
    z-index: 200;
    flex-shrink: 0;
 }


 .viewSite:hover{
    box-shadow: -2px 5px 10px #aaaa;
    background-color: white;
    color: black;
    margin-top: -5px;
    z-index: 200;
 }

 .gitHubRepo{
    height: 50px;
    width: 120px;
    border-radius: 25px;
   border: 1px solid white;
   padding: 10px;
   padding-left: 12px;
   padding-right: 12px;
    text-align: center;
    color: white;
    z-index: 200;
    flex-shrink: 0;
 }


 .gitHubRepo:hover{
    box-shadow: -2px 5px 10px #aaaa;
    background-color: white;
    color: black;
    margin-top: -5px;
    z-index: 200;
 }

 




 /* work 2 starts  */



 .work2{
    /* border: 3px solid green; */
    margin-top: 10px;
    display: flex;
    flex-direction: column;
 }

 .work2FlexerA{
    /* border: 2px solid red; */
   height: 50%;
    width: 100%;
    display: flex;
    gap: 15%;
    justify-content: center;
  }

 

 .ResturantPicDiv{
    height: 240px;
    flex-shrink: 0;
    width: 460px;
    border-radius: 10px;
    background-color: white;
    /* border: 3px solid orange; */
 }

 .figmaResturant{
    height: 97%;
    width: 98%;
 }

 .ResturantPicDiv:hover::before{
    content: url(https://res.cloudinary.com/dyrzp2wi6/image/upload/v1708298075/portfolio%20in%20react%20pseudo%20gifs/figma_resturant_ojjtvt.gif);
    position: absolute;
   transform: scale(50%);
   z-index: 90;
   left: -335px;
   top: -220px;
   border-radius: 5px;
   
 }


 .figmaTxt{
    /* border: 2px solid yellow; */
    flex-shrink: 0;
    width: 400px;
  }

  .work2FlexerB{
    /* border: 2px solid red; */
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15%;
    align-items: center;
 }


 .workSpacer{
    height: 30px;
    /* border: 2px solid blueviolet; */
    flex-shrink: 0;
    width: 460px;
 }

 .figButtons{
    /* border: 2px solid blue; */
    height: 100px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
   width: 400px;
 }

  .viewInFigmaBtn{
    height: 50px;
    width: 150px;
    border-radius: 25px;
   border: 1px solid white;
   padding: 10px;
   padding-left: 12px;
   padding-right: 12px;
    text-align: center;
    color: white;
    z-index: 200;
    flex-shrink: 0;
  }

  .viewInFigmaBtn:hover{
    box-shadow: -2px 5px 10px #aaaa;
    background-color: white;
    color: black;
    margin-top: -5px;
    z-index: 200;
 }


 
/* work3 */



 .work3FlexerA{
    /* border: 2px solid red; */
   height: 50%;
    width: 100%;
    display: flex;
    gap: 15%;
    justify-content: center;
  }
 

  .work3FlexerB{
    /* border: 2px solid red; */
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15%;
    align-items: center;
 }


 .workSpacer{
    height: 30px;
    /* border: 2px solid blueviolet; */
    flex-shrink: 0;
    width: 460px;
 }

 .figButtons{
    /* border: 2px solid blue; */
    height: 100px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
   width: 400px;
 }

  .viewInFigmaBtn{
    height: 50px;
    width: 150px;
    border-radius: 25px;
   border: 1px solid white;
   padding: 10px;
   padding-left: 12px;
   padding-right: 12px;
    text-align: center;
    color: white;
    z-index: 200;
    flex-shrink: 0;
  }

  .viewInFigmaBtn:hover{
    box-shadow: -2px 5px 10px #aaaa;
    background-color: white;
    color: black;
    margin-top: -5px;
    z-index: 200;
 }

 .work3{
    /* border: 3px solid palevioletred; */
    margin-top: 10px;
    display: flex;
    flex-direction: column;
 }

 .work3FlexerA{
    /* border: 2px solid red; */
   height: 50%;
    width: 100%;
    display: flex;
    gap: 15%;
    justify-content: center;
  }

  
 .smoothSkinPicDiv{
    height: 320px;
    /* border: 2px solid rebeccapurple; */
   flex-shrink: 0;
    width: 180px;
    border-radius: 10px;
    background-color: white;
 }
 

 .smoothSkinPicDiv:hover::before{
    content: url(https://res.cloudinary.com/dyrzp2wi6/image/upload/c_scale,h_482,w_276/v1708297497/portfolio%20in%20react%20pseudo%20gifs/Main_Smooth_skin_p3uskk.gif);
    position: absolute;
    transform: scale(95%);
    z-index: 90;
   top: -110px;
   left: 200px;
    border-radius: 10px;
 }

 
 

 .smoothSkinPic{
    height: 98%;
    width: 97%;
 }

 .smoothTxt{
    /* border: 2px solid greenyellow; */
    flex-shrink: 0;
    width: 400px;
 }

 
 .work3FlexerB{
    /* border: 2px solid red; */
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15%;
 }

 .work3Spacer{
    height: 30px;
    /* border: 2px solid blueviolet; */
    flex-shrink: 0;
    width: 180px;
 }


 .downloadButtons{
    /* border: 2px solid white; */
    height: 100px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap:50px ;
    padding-top: 20px;
    width: 400px;
 }

 .DownloadImgBtn{
    height: 50px;
    width: 205px;
    border-radius: 25px;
   border: 1px solid white;
   padding-top: 10px;
    color: white;
    z-index: 200;
    flex-shrink: 0;
 }



.DownloadImgBtn{
    border-radius: 25px;
   border: 1px solid white;
   padding-left: 40px;
   padding-right: 40px;
    text-align: center;
    color: white;
    z-index: 200;
    flex-shrink: 0;
 }


 .DownloadImgBtn:hover{
    box-shadow: -2px 5px 10px #aaaa;
    background-color: white;
    color: black;
    margin-top: -5px;
    z-index: 200;
 }

 @media screen and (max-width:1170px){
   
    .work1FlexerA, .work2FlexerA{
        gap: 12%;
    }

    .todoListPic:hover::before, .ResturantPicDiv:hover::before{
        transform: scale(42%);
        left: -380px;
        top: -200px;
    }

    .work1FlexerB,.work2FlexerB{
        gap: 12%;
    }

    .smoothSkinPicDiv:hover::before{
        left: 140px;
       
    }

 }

 @media screen and (max-width:1150px) {
    
 }

@media screen and (max-width:1070px) {
    .work1FlexerA, .work2FlexerA{
        gap: 7%;
    }

    .todoListPic:hover::before, .ResturantPicDiv:hover::before{
        transform: scale(39%);
        left: -400px;
    }

    .work1FlexerB, .work1FlexerB{
        gap: 7%;
    }

    .smoothSkinPicDiv:hover::before{
        left: 120px;
       
    }
}

@media screen and (max-width:1005px){

   .work3Spacer{
    margin-top: -100px;
    
   }

   .smoothSkinPicDiv:hover::before{
    left: 120px;
  
}

  
    

    @keyframes opener2 {

        0%{
            transform: scaleX(175%);
        }
     
        100%{
            transform: scaleX(-150%);
        }
     
        
     }
    

     @keyframes opener3 {

        0%{
            transform: scaleX(-135%);
        }
     
        100%{
            transform: scaleX(120%);
        }
       
     }

    .worksSec{
        background-color: white;
    position: relative;
    height: 2800px;
    width: 100%;
    top: 50px;
    /* border: 5px solid blue; */
    }
    
    .work1,.work2{
        height: 750px;
    }

    .work3H{
        height:570px;
        /* border: 2px solid white; */
    }

    .work1FlexerA,.work2FlexerA,.work3FlexerA{
        flex-direction: column;
        align-items: center;
        gap: 16%;
    }

    .todoListPic:hover::before,.ResturantPicDiv:hover::before{
        transform: scale(45%);
        left: -20%;
        top: -260px;
    }

    .smoothSkinPicDiv:hover::before{
        transform: scale(85%);
        z-index: 90;
       top: -130px;
       left: 300px;
    }

    .work1FlexerB,.work2FlexerB,.work3FlexerB{
        flex-direction: column;
        align-items: center;
        gap: 7%;
    }

    .downloadButtons{
        margin-top: 90px;
    }
}



@media screen and (max-width:905px){
    .todoListPic:hover::before,.ResturantPicDiv:hover::before{
        left: -30%;
    }
}

@media screen and (max-width:850px){
    .smoothSkinPicDiv:hover::before{
        left: 250px;
    }
}


@media screen and (max-width:805px){
    .todoListPic:hover::before,.ResturantPicDiv:hover::before{
       left: -40%;
    }
}

@media screen and (max-width:755px){
    .smoothSkinPicDiv:hover::before{
        left: 200px;
    }
}


@media screen and (max-width:705px){
    .todoListPic:hover::before,.ResturantPicDiv:hover::before{
        left: -50%;
    }
}

@media screen and (max-width:680px){
    .todoListPic:hover::before,.ResturantPicDiv:hover::before{
        left: -55%;
    }
}

@media screen and (max-width:655px){
    .todoListPic:hover::before ,.ResturantPicDiv:hover::before{
        left: -58%;
        transform: scale(48%);
    }
    .smoothSkinPicDiv:hover::before{
        left: 150px;
    }
}

@media screen and (max-width:605px){
    .todoListPic:hover::before ,.ResturantPicDiv:hover::before{
        transform: scale(45%);
        left: -65%;
    }
}



@media screen and (max-width:555px){
    .todoListPic:hover::before {
        transform: scale(45%);
        left: -78%;
    }

    .ResturantPicDiv:hover::before{
         transform: scale(45%);
        top: -272px;
        left: -78%;
    }

    .smoothSkinPicDiv:hover::before{
        left: 100px;
    }
}

@media screen and (max-width:540px){
    .todoListPic:hover::before ,.ResturantPicDiv:hover::before{
        left: -81%;
    }
}

@media screen and (max-width:455px){
    .smoothSkinPicDiv:hover::before{
        left: 50px;
    }
}

@media screen and (max-width:480px){

    .smoothTxt{
        margin-top: 20px;
        width: 300px;
    }

    @keyframes opener2 {

        0%{
            transform: scaleX(155%);
        }
     
        100%{
            transform: scaleX(-150%);
        }
     
        
     }
    
    .todoListPic, .ResturantPicDiv{
        width: 320px;
        height: 190px;

    }
    .todoListPic:hover::before{
        left: -121%;
        transform: scale(40%);

    }

    .ResturantPicDiv:hover::before{
        left: -131%;
        transform: scale(40%);
    }


    .todoTxt,.figmaTxt{
        width: 300px;
    }

    .workSpacer{
        width: 300px;
    }

    .todoButtons,.figButtons{
        width: 300px;
    }
}

@media screen and (max-width:455px){
    .smoothSkinPicDiv:hover::before{
        left: 50px;
    }
}

@media screen and (max-width:360px){
    .ResturantPicDiv:hover::before{
        left: -141%;
        transform: scale(40%);

    }
}

@media screen and (max-width:355px){
    .smoothSkinPicDiv:hover::before{
        left: 0px;
    }
}


@media screen and (max-width:320px){
    .todoListPic:hover::before,.ResturantPicDiv:hover::before{
        left: -151%;
    }
}

@media screen and (max-width:280px){
    .todoListPic:hover::before{
        left: -181%;
    }
    .ResturantPicDiv:hover::before{
        left: -200%;
        transform: scale(40%);
    }

    .todoTxt,.figmaTxt{
        padding: 10px;
    }
}


 .viewmoreFlexer{
    position: absolute;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid white ; */
    bottom: 30px;
 }


 .viewMore2{
    height: 60px;
    width: 200px;
    border-radius: 30px;
   border: 1px solid white;
    padding-top: 13px;
    text-align: center;
    color: white;
 }

 .viewMore2:hover{
    box-shadow: -2px 5px 10px #aaaa;
    background-color: white;
    color: black;
    margin-top: -5px;
 }

/* services section */

 .servicesSec{
    margin-top: 50px;
    width: 100%;
    height: 800px;
    /* border: 2px solid violet; */
    background-color: black;   
    position: relative;
 }

 .lighterBG4{
    background-color: white;
    height: 800px;
    width: 52%;
    position: absolute;
}

.DarkerBG4{
    background-color:white;
    height:800px;
    width: 52%;
    position: absolute;
    right: 0;   
}

 .servicesSecFlexer{
  
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
 }

 .servicesH1{
    height: 60px;
    width: 100%;
    font-size: 70px;
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */
    margin-bottom: 20px;
 }

 .responsive{
    width: 100%;
    height: 100px;
    /* border: 2px solid black; */
    display: flex;
    gap: 5px;
    justify-content: center;
    font-size: 35px;
    align-items: center;
    transition: 0.3s ease-in-out;
 }

 .responsImg{
    height: 150px;
    animation: smoothOpen 1s;
     flex-shrink: 0;
   
 }

 @keyframes smoothOpen {
    0%{
       transform: scale(70%);
    }

    100%{
        transform: scale(100%);
    }
 }

 .graphicsImg{
    height: 180px;
    animation: smoothOpen 1s;
 }

 .uiUxImg{
    height: 180px;
    animation: smoothOpen 1s;
 }

 .spasImg{
    height: 195px;
    animation: smoothOpen 1s;
 }

 .graphicsDes{
    width: 100%;
    height: 100px;
    /* border: 2px solid black; */
    display: flex;
    gap: 5px;
    justify-content: center;
    font-size: 35px;
    align-items: center;
 }
 
 .ui{
    width: 100%;
    height: 100px;
    /* border: 2px solid black; */
    display: flex;
    gap: 5px;
    justify-content: center;
    font-size: 35px;
    align-items: center;
 }

 .spas{
    width: 100%;
    height: 100px;
    /* border: 2px solid black; */
    display: flex;
    gap: 5px;
    justify-content: center;
    font-size: 32px;
    align-items: center;
 }

 @media screen and (max-width:795px) {
    .spas{
        font-size: 30px;
    }

 }

 @media screen and (max-width:795px) {

    .responsive{
        font-size: 30px;
        gap: 3px;
    }

    .ui{
       font-size: 30px; 
       gap: 3px;
    }

    .graphicsDes{
        font-size: 30px;
        gap: 3px;
    }

    .spas{
        font-size: 25px;
        gap: 3px;
    }

    .responsImg{
        height: 130px;
        animation: smoothOpen 1s;
     }

    .graphicsImg{
        height: 150px;
        animation: smoothOpen 1s;
     }
    
     .uiUxImg{
        height: 150px;
        animation: smoothOpen 1s;
     }
    
     .spasImg{
        height: 150px;
        animation: smoothOpen 1s;
        flex-shrink: 0;
     }
 }

 @media screen and (max-width:610px) {

    .responsive{
        font-size: 25px;
    }

    .ui{
       font-size: 25px; 
    }

    .graphicsDes{
        font-size: 25px;
    }

    .spas{
        font-size: 22px;
    }

    .responsImg{
        height: 110px;
        animation: smoothOpen 1s;
     }

    .graphicsImg{
        height: 130px;
        animation: smoothOpen 1s;
     }
    
     .uiUxImg{
        height: 130px;
        animation: smoothOpen 1s;
     }
    
     .spasImg{
        height: 120px;
        animation: smoothOpen 1s;
     }
 }



 .viewmoreFlexer2{
   
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid  black ; */
    bottom: 30px;
   
 }


 .viewMore3{
    height: 50px;
    width: 200px;
    border-radius: 30px;
   /* border: 1px solid black; */
    padding-top: 13px;
    text-align: center;
    color: white;
    background-color: black;
 }

 .viewMore3:hover{
    box-shadow: -2px 5px 10px #aaaa;
    background-color: white;
    color: white;
    margin-top: -5px;
   
 }
 /* reviews Sec */
.reviews-main{
    margin: 50px auto;
    height: 400px;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid orangered; */
    gap: 20px;
}


 .reviews{
    height: 350px;
    width: 1000px;
    /* border: 2px solid orangered; */
    display: flex;
    align-items: center;
    gap: 30px;
    overflow-x: scroll;
    padding-left:30px;
    padding-right:30px;
    scroll-behavior: smooth auto;
    border-radius: 10px;
 }

 

 .reviews::-webkit-scrollbar{
   display: none;
 }

 #smooth{
    scroll-behavior: smooth;
 }


 .pic{
    height: 305px;
    width:255px;
    box-shadow: -1px 2px 5px #aaaaaa;
    border-radius: 10px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
   text-align: center;
   justify-content: space-evenly;
   padding: 10px;
   font-size: 13px;
 }

 .pic:hover{
    height: 310px;
    margin-bottom: 50px;
    transition: 0.7s ease-in-out;
    box-shadow: -8px 16px 15px #dfdede;
 }

.h1fontsizer{
    font-size: 25px;
} 

 .arrow-left{
    transform: rotate(-45deg);
    height: 60px;
    width: 60px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    flex-shrink: 0;
 }

 .arrow-right{
    transform: rotate(45deg);
    height: 60px;
    width: 60px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    flex-shrink: 0;
 }

 @media screen and (max-width:1024px) {
    .arrow-left{
        display: none;
    }

    .arrow-right{
        display: none;
    }

    .reviews{
        width: 1000px;
       margin-left: -80px;
       gap: 40px;
       }
 }
 @media screen and (max-width:920px) {
    .reviews{
     width: 800px;
    margin-left: -200px;
    gap: 40px;
    }
 
  }

 @media screen and (max-width:830px) {
    .reviews{
     width: 700px;
    margin-left: -350px;
    gap: 40px;
    }
 
  }

 
 @media screen and (max-width:770px) {
    .reviews{
     width: 700px;
    margin-left: -350px;
    gap: 40px;
    }
 
  }

  
 @media screen and (max-width:550px) {
    .reviews{
     width: 400px;
    margin-left: -600px;
    gap: 40px;
    }
 
  }

 @media screen and (max-width:480px) {
   .reviews{
    width: 300px;
   margin-left: -700px;
   gap: 40px;
   }

 }

 
 @media screen and (max-width:375px) {
    .reviews{
     width: 300px;
    margin-left: -750px;
    gap: 40px;
    }
 
  }

  @media screen and (max-width:290px) {
    .reviews{
     width: 300px;
    margin-left: -800px;
    gap: 40px;
    }
 
  }



 /* contactSec */


.contactSec{
    position: relative;
    height: 400px;
    width: 100%;
    /* border: 2px solid orange; */
}

.constactSecFlexer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;

}

.letsH1{
    color:white;
    z-index: 10;
    width: 100%;
    height: 100px;
    /* border: 2px solid turquoise; */
    padding-left: 10%;
    font-size: 35px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
   
}

.transform{
    width: 100%;
    height: 100px;
    /* border: 2px solid turquoise; */
    color:white;
    z-index: 10;
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
  gap: 28%;
  text-align: center;
}

.socailHandles{
    height:50px;
    width: 250px;
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linkedIn{
    height: 30px;
    width: 100px;
    /* border: 2px solid white; */
    color: white;
    display: flex;
    gap: 10%;
   
 }

 .arrow{
    height: 11px;
    margin-top: 5px;
 }

.behance{
    height: 30px;
    width: 100px;
    /* border: 2px solid white; */
    display: flex;
    gap: 10%;
   
}

@media screen and (max-width:1180px) {
    .letsH1{
        font-size: 30px;
    }

}

@media screen and (max-width:1000px) {
    .letsH1{
        font-size: 25px;
    }

    .transform{
        font-size: 15px;
        gap: 15%;
    }

}

@media screen and (max-width:855px) {
    .letsH1{
        font-size: 25px;
        flex-direction: column;
    }

    .transform{
        font-size: 15px;
        gap: 10%;
    }

}

@media screen and (max-width:480px) {
    .letsH1{
        font-size: 22px;
        flex-direction: column;
    }

    .transform{
        font-size: 15px;
        gap: 10%;
    }

}


.viewMore4{
   
        height: 60px;
        width: 200px;
        border-radius: 30px;
       border: 1px solid white;
        padding-top: 13px;
        text-align: center;
        color: white;
}

.viewMore4:hover{
    box-shadow: -2px 5px 10px #aaaa;
    background-color: white;
    color: black;
    margin-top: -5px;
 }

.copyright{
    width: 100%;
    height: 50px;
    /* border: 2px solid black; */
    margin: auto;
    display: flex;
    justify-content: center;
}

@media screen and (max-width:1024px) {
    .strecher{
        height: 200px;
        /* border: 1px solid black; */
        width: 30px;
    }
}